@model CrudNessJogadores.Models.Times

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Times</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeJogador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeJogador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning hidden">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary hidden">Voltar</a>
</div>
